<main>

      <div class="card">
            <div class="left">
                  <h2>Johnas Blasco</h2>
                  <p>Anspiring Full Stack Web Developer </p>
            </div>
            <div class="rig">
                  <button> See More</button>
            </div>
      </div>

      <div class="card">
            <div class="left">
                  <h2>Title here</h2>
                  <p>discriptions</p>
            </div>
            <div class="rig">
                  <button> See More</button>
            </div>
      </div>

      <div class="card">
            <div class="left">
                  <h2>Title here</h2>
                  <p>discriptions</p>
            </div>
            <div class="rig">
                  <button> See More</button>
            </div>
      </div>

      <div class="card">
            <div class="left">
                  <h2>Title here</h2>
                  <p>discriptions</p>
            </div>
            <div class="rig">
                  <button> See More</button>
            </div>
      </div>

</main>
